Repository CESNET/shongo-frontend-tablet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "./src/app/**/*.{ts,js}": "eslint --fix",
  "./src/app/**/*.{html,ts,scss}": "prettier --write",
  "./src/app/**/*{.scss,.css}": "stylelint --fix"
}

feat: trim unused locales out of build
  angular.json
  custom-webpack.config.js
  package-lock.json
  package.json
Due: none

feat: scale down BG image
  src/app/pages/happening-today-page/happening-today-page.component.scss
  src/assets/img/background.jpeg
  src/assets/img/background.webp
Due: prettier --write, stylelint --fix

ref: use OnPush change detection
  angular.json
  src/app/components/calendar-header/calendar-header.component.ts
  src/app/components/create-reservation-modal/create-reservation-modal.component.ts
  src/app/components/date-selector/date-selector.component.ts
  src/app/components/language-selector/language-selector.component.ts
  src/app/components/loading-overlay/loading-overlay.component.ts
  src/app/components/token-modal/token-modal.component.ts
  src/app/components/upcoming-event/upcoming-event.component.ts
  src/app/pages/happening-today-page/happening-today-page.component.ts
  src/app/pages/reservation-page/reservation-page.component.html
  src/app/pages/reservation-page/reservation-page.component.ts
  src/app/services/calendar.service.ts
Due: eslint --fix, prettier --write

fix: remove unused dependency
  package-lock.json
  package.json
Due: none

ref: remove barrels
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/calendar-header/calendar-header.component.ts
  src/app/components/create-reservation-modal/create-reservation-modal.component.ts
  src/app/components/date-selector/date-selector.component.ts
  src/app/components/index.ts
  src/app/components/language-selector/language-selector.component.ts
  src/app/components/token-modal/token-modal.component.ts
  src/app/i18n/calendar-i18n.ts
  src/app/i18n/locales.const.ts
  src/app/models/constants/index.ts
  src/app/models/constants/locales.const.ts
  src/app/models/enums/index.ts
  src/app/models/errors/index.ts
  src/app/models/interfaces/index.ts
  src/app/models/interfaces/locale-item.interface.ts
  src/app/models/interfaces/periodicity.interface.ts
  src/app/models/interfaces/reservation-request.interface.ts
  src/app/pages/happening-today-page/happening-today-page.component.ts
  src/app/pages/index.ts
  src/app/pages/reservation-page/reservation-page.component.ts
  src/app/pipes/translation.pipe.ts
  src/app/services/api.service.ts
  src/app/services/authentication.service.ts
  src/app/services/calendar.service.ts
  src/app/services/happening-today.service.ts
  src/app/services/i18n.service.ts
  src/app/services/index.ts
  src/app/services/modal-helper.service.ts
  src/app/services/reservation.service.ts
Due: eslint --fix, prettier --write

ref: remove unused spec files
  src/app/components/upcoming-event/upcoming-event.component.spec.ts
  src/app/pages/happening-today-page/happening-today-page.component.spec.ts
  src/app/pipes/ellipsis.pipe.spec.ts
  src/app/pipes/translation.pipe.spec.ts
Due: eslint --fix, prettier --write

docs: update github login in readme
  README.md
Due: none

fix: add missing translation
  src/app/i18n/cs.const.ts
  src/app/i18n/en.const.ts
  src/app/i18n/locale.interface.ts
  src/app/pages/happening-today-page/happening-today-page.component.ts
Due: eslint --fix, prettier --write

docs: add proxy, cors & access token readme
  README.md
Due: none
